<!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<!--<script type="text/javascript">
    // recenters the google map
    function recenter(){
        setTimeout(function(){
            google.maps.event.trigger(map, 'resize');
            map.setCenter(myLatLng);
        }, 10);
    }
    function initialize() {
        var myLatlng = new google.maps.LatLng( 50.864565, -0.224533);
        var mapOptions = {
            zoom: 10,
            center: myLatlng,
            scrollwheel: false,
            disableDoubleClickZoom: true,
            draggable: true,
            panControl: true,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false,
            mapTypeControl: false
        };
        window.onresize = function(){
            google.maps.event.trigger(map, 'resize');
            recenter();
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var image = '/images/marker.png';
        var myLatLng = new google.maps.LatLng( 50.864565, -0.224533);
        var beachMarker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            animation: google.maps.Animation.DROP,
            icon: image
        });
        google.maps.event.addListener(beachMarker, 'click', function() {
            var url = jQuery('#get-directions').attr('href');
            window.location.href = url;
        });
    }
    // asynchronously add maps code to pages
    function loadScript() {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
                '&signed_in=true&callback=initialize';
        document.body.appendChild(script);
    }
    window.onload = loadScript;

    window.onresize = function(event){
        if(map_available === true){
            google.maps.event.trigger(map, 'resize');
            map.setCenter(marker.position);
        }
    };
</script>-->

    {% if minify %}<!-- build:js assets/js/main.min.js -->{% endif %}
    <script src="assets/js/main.js"></script>
    {% if minify %}<!-- endbuild -->{% endif %}

    </body>
</html>