<footer role="contentinfo" class="contentinfo">
	<div class="social">
		<div class="container">
			<ul class="socials o-list-bare">
				<li class="social__item twitter">
					<a target="_blank" href="https://twitter.com/" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-twitter"></svg>
					</a>
				</li>
				<li class="social__item facebook">
					<a target="_blank" href="https://www.facebook.com/" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-facebook"></svg>
					</a>
				</li>
				<li class="social__item youtube">
					<a target="_blank" href="https://www.youtube.com/channel/" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-youtube"></svg>
					</a>
				</li>
				<li class="social__item linkedin">
					<a target="_blank" href="https://www.linkedin.com/" class="social__link">
						<svg class="icon__svg"><use xlink:href="#icon-linkedin"></svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bg--black credits">
		<div class="o-layout">
			<div class="o-layout__item text--center">
				<span>Web Design by <a href="https://www.molokini.co.uk">Molokini</a></span>
			</div>
		</div>
	</div>
</footer>




{% include "./includes/_footer-scripts" %}
