<header role="banner" class="header">
	<div class="header__brand">
		<a href="/">
			<img src="assets/img/logo.png" alt="3T RPD Logo">
		</a>
	</div>
    <ul class="flags">
        <li class="flag"><a href=""><img src="assets/img/flags-english.jpg" alt="english flag"></a></li>
        <li class="flag"><a href=""><img src="assets/img/flags-france.jpg" alt="french flag"></a></li>
        <li class="flag"><a href=""><img src="assets/img/flags-germany.jpg" alt="german flag"></a></li>
        <li class="flag"><a href=""><img src="assets/img/flags-japan.jpg" alt="japan flag"></a></li>
    </ul>
	<div class="mobile__nav lap-and-up--hidden">
		<div class="mobile__nav-icon js-trigger-main-menu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="header__nav">
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link js-contact-trigger" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#contact"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#contact">Contact</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
                    <a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#what"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#what">What We Do</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
                    <a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#process"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#process">Our Process</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
					<a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#prototyping"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#prototyping">Prototyping</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
					<a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#clients"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#clients">Clients</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
					<a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#how"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#how">How we can help</a>
				</li>
                <li class="nav__item">
                    <span class="color--white">|</span>
					<a class="nav__link" data-scroll data-options='{ "easing": "easeInQuad" }'
                    data-anchor-target="#who"
                    data-top="color: rgb(169,11,150);"
                    data-bottom-top="color: rgb(255,255,255);"
                    data-top-bottom="color: rgb(255,255,255);"
                    href="/#who">Who We Are</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
