<!DOCTYPE html>
  <!--[if IE 9]>
    <html class="no-js lt-ie10 is-ie9" lang="en">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <html class="no-js" lang="en">
  <!--<![endif]-->

  <head>
   	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">

{% comment %}Will be picked up from ./data/pages.json{% endcomment %}
{% for p in pages.all %}
  {% if page == p.page %}
    <title>{{p.title}} | {{pages.config.title}}</title>
  {% endif %}
{% endfor %}

    <!-- Set up preconnect -->
    <link href='//fonts.gstatic.com' rel='preconnect' crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


      {% if minify %}<!-- build:css assets/css/main.min.css -->{% endif %}
    <link rel="stylesheet" href="assets/css/main.css">
    {% if minify %}<!-- endbuild -->{% endif %}


    {% include "./includes/_favicons.liquid" %}

  </head>
  <body class="{{page}}">
  {% include "./includes/_icons.liquid" %}
