/**
 * Main colors:
 * The colors used in the project.
 *
 *   @example
 *   div.sg-tyles
 *     div.sg-tyles__item(style='background-color: #BADA55') Main color
 *     div.sg-tyles__item(style='background-color: #666') Secondary color
 */

$color--brand:        #A90B96;
$color--brand-dark-4:   darken(#A90B96, 28%);
$color--brand-dark-5:   darken(#A90B96, 32%);

$color--white:        #fff;
$color--black:        #111;
//$color--text:         $inuit-base-text-color;

$color--grey:         #666;
$color--grey-dark:    #333;
$color--grey-light:   #eee;

// Alert colours
$color--alert-yellow: #f7931e;
$color--alert-red:    #d12328;
$color--alert-green:  #00964d;

// Forms
$color--disabled-gray:       #cecece;

$font--main:          'Open Sans', Helvetica, Arial, sans-serif;
$font--title:         'Montserrat', Helvetica, Arial, sans-serif;

$mq-breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px
) !default;

// Typography
$base-font-family: $font--main;
$heading-font-family: $font--title;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);
$dark-background: #191919;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
