* {
	position: relative;
}
html,
body {
	height: 100%;
	min-width: 320px;
	font-family: $font--main;
}
h1,
h2,
h3,
h4 {
	font-family: $font--title;
}
ul {
	padding-left: 1.5rem;
}
li {
	margin-bottom: .5rem;
}
a {
	text-decoration: none;
	color: $color--brand;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 1rem;
}
.container--small {
	max-width: 1140px;
}
.container--tiny {
	max-width: 820px;
}
