.banner {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
}

section {
    border-top: 2px solid $color--brand;
}

section.dark {
    background-color: $dark-background;

    p,
    ul,
    td {
        color: #ffffff;
    }
}

table {
    thead td {
        background: #ccc;
        color: #000 !important;
        padding: 10px;
    }
}

.acreditations {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}
