.header {
  background-color: #000000;
  opacity: 0.8;
  transition: all .25s ease;
  padding: .7rem 1.2rem;
  overflow: hidden;
  height: 87px;
  @include mq($from: tablet) {
    padding: .7rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
  }
}
.mobile__nav--active {
  .header {
    height: 421px;
    transition: height .5s ease-in-out;
    padding: .7rem 0 0 0;
  }
  .nav__item {
    display: block;
    padding: .7rem 0;
    border-bottom: 1px solid $color--grey-light;
    transition: .5s ease-in-out;

  }
}
.header__nav {
  text-align: center;

  .nav__link {
    color: $color--grey-dark;
    @include mq($from: tablet) {
      color: $color--white;
    }
    &:hover {
      color: $color--brand;
      transition: color .5s ease;
    }

  }
  .nav__item {
    transition: .5s ease-in-out;
    font-family: $font--title;
    span {
        display: none;
        @include mq($from: tablet) {
            display: inline-block;
        }
    }
  }
  .nav__item--active {
    .nav__link {
      color:$color--brand;
    }
  }
}
.header--active {
  background-color: #000000;
  opacity: 0.8;
  box-shadow: $color--grey 0px 1px 1px;
  transition: .25s ease;
  .nav__link {
    // color: $color--grey-dark;
    &:hover {
      color: $color--brand;
      transition: color .5s ease;
    }
  }
}
.header__brand {
  display: inline-block;
  position: absolute;
  left:1.2rem;
  top: 1.1rem;
  height: 25px;
  width: 100px;
  @include mq($from: tablet) {
    height: 25px;
    width: 150px;
    align-self: center;
    top: 1.3rem;
  }
}

.logo {
  width:100%;
  height:100%;
}

.flags {
    position: absolute;
    right: 60px;
    top: 19px;

    @include mq($from: tablet) {
        top:5px;
        right: 20px;
        left: auto;
    }
}

.flags .flag {
    float: left;
    margin-right: 10px;

    img {
        width: 20px;
    }
}
