.mobile__nav {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  @include mq($from: tablet) {
    display: none;
  }
}
.mobile__nav--active {
  visibility: visible;
  transition: all .5s ease-in-out;
}
// Mobile nav icon X
.mobile__nav-icon {
  display: block;
  cursor: pointer;
  display: block;
  height: 25px;
  position: relative;
  left: 0;
  width: 30px;
  top: -3px;

  span {
    background: none repeat scroll 0 0 #ffffff;
    display: block;
    height: 3px;
    margin: 5px 0;
    opacity: 1;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
}
.mobile__nav-icon--active {
  span:nth-child(1){
    transform: rotate(45deg) translate(3px, 9px);
  }
  span:nth-child(2){
    opacity: 0;
  }
  span:nth-child(3){
    transform: rotate(-45deg) translate(2px, -9px);
  }
}
