.slider {
  position: relative;
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 880px;
}

.frame {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 75%;
}

.slides {
  display: inline-block;
  margin-bottom: 0;
  @extend .o-list-bare;
}

.slide {
  position: relative;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  height: 130px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  // background: #2E435A;
  color: #fff;
  width: 155px;
  margin-right: 20px;

  max-width: 680px;

  img {
    position: absolute;
    left: -50%;
    right: -50%;
    margin: auto;
    width: 80%;
    top: -50%;
    bottom: -50%;
  }

}

.prev, .next {
  position: absolute;
  top: 53%;
  margin-top: -50px;
  display: block;
  cursor: pointer;
}

.slider__arrow {
  display: flex;
  padding: 1rem;
  justify-content: center;
  transition: .3s ease-in-out;
  &:hover {
    transition: .3s ease-in-out;
  }
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 85px;
  fill: #ffffff;
}
