.nav {

  @include mq($until: tablet) {
    margin-top: 77px
  }
}
.nav__list {
  margin: 0;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  text-decoration: none;
}

.nav,
.nav__list,
.nav__item,
.nav__link  {
  @extend .o-list-bare;
}

#contact {
    * {
        color: #ffffff;
    }

    background-color: $color--brand-dark-4;
}

footer .social {
    background-color: $color--brand-dark-5;
}

.credits {
    padding-top: 10px !important;
    padding-bottom: 10px !important;

    span {
        font-size: 12px;
    }

    a {
        color: #333;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }
}
