.contact {
  width: 400px;
  border-radius: 1%;
  border: 1px solid $color--grey-dark;
  padding: 1rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  @include mq($until: tablet) {
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.contact.hide {
    height:0;
    overflow: hidden;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    border: none;
}

.close {
  svg {
    stroke: $color--brand;
  }
}
