.video--wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
}

.video--controls {
  display: flex;
  background-color: $color--grey-light;
  transition: .4s ease;
  position: absolute;
  bottom: 0;
  width: 100%;
  svg {
    fill: $color--brand;
  }
  .video--button {
    background-color: $color--grey-light;
    border: none;
    border-radius: 0;
    cursor: pointer;
    &:hover {
      background-color: $color--brand;
      transition: .4s ease;
      svg {
        fill: $color--white;
      }
    }
  }
}

.video--seek-bar {
  width: 100%;
}
.video--title {
    font-size: 70px;
    line-height: 1.01;
    padding: 20px;

    span {
        border-bottom: 15px solid #a90b96;
        padding-bottom: 5px;
    }
    * {
        font-family: $font--title;
    }
}

.video--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #26292E;
  opacity: 0.7;
  filter: alpha(opacity=70);
  z-index: 0;
  left: 0;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
