// All z-index stuff goes here
// Never write z-index inline with property in other scss files
.video--overlay {
  z-index: 1;
}
.video--controls {
  z-index: 2;
}
.header {
  z-index: 5;
}
.video--title {
  z-index: 4;
}

.contact {
  z-index: 10;
}
