{% assign page = "index" %}
{% include "./includes/_head" %}
{% include "./includes/_header" %}

<div class="video--wrapper flex--center flex--align-center">
    <div class="video--overlay"></div>
    <h1 class="video--title color--white">
        Building Success<br />Layer <span>by</span> Layer.
    </h1>

    <video id="video" class="video" width="100%" height="auto" loop>
        <source src="assets/video/homepage-video.mp4"  type="video/mp4">
        <!--<source src="assets/video/homepage-video.ogv"  type="video/ogg">
        <source src="assets/video/homepage-video.webm" type="video/webm">-->
    </video>

    <!-- Video Controls -->
    <div class="video--controls" id="video--controls" style="display:none;">
        <button class="video--button u-padding-small" type="button" id="play-pause">
            <svg class="icon icon__svg icon--small"><use xlink:href="#icon-play"></svg>
        </button>
        <input class="video--seek-bar u-margin-left-small u-margin-right-small" type="range" id="seek-bar" value="0">
        <button class="video--button u-padding-small" type="button" id="mute">
            <svg class="icon icon__svg icon--small"><use xlink:href="#icon-mute"></svg>
        </button>
        <input class="u-margin-left-small u-margin-right-small" type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
        <button class="video--button flex-pin--right u-padding-small" type="button" id="full-screen">
            <svg class="icon icon__svg icon--small"><use xlink:href="#icon-enter-fullscreen"></svg>
        </button>
    </div>
</div>

<div role="main" class="main" id="main">
    <section id="what" data-bottom-top="background-attachment: scroll;" data-top-top="background-attachment: fixed;"
        class="banner" style="background-image: url('assets/img/what-we-do.jpg');">
        <div class="o-wrapper">
            <div class="o-layout u-padding-top">
                <div class="o-layout__item u-3/5@tablet u-1/1@mobile">
                </div>
                <div class="o-layout__item u-2/5@tablet u-1/1@mobile">
                    <div data-bottom-top="opacity: 0; padding-top:900px;"
                         data-center="opacity: 1; padding-top:150px;"
                        class="">
                        <h2 class=""><span>What we do</span></h2>
                        <p class="color--white">
                            3T RPD is one of Europe’s leading suppliers of production Additive Manufacturing (AM) and 3D printing.
                            We are based in Newbury, UK, and have a team of 80 staff working exclusively with EOS AM machines.
                            This allows us to manufacture production parts for the formula 1, aerospace, autosport and technology
                            industries, in Europe, UK, US and worldwide.
                        </p>
                        <p class="color--white">
                            Our strategy is to be our customers’ first choice for production manufacture of metal and plastic AM components.
                            We focus on ensuring that we deliver high quality Additive Manufactured parts, on time, to specification,
                            within budget and with excellent customer service.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="process" class="u-padding-top-huge u-padding-bottom-huge dark">
        <div class="o-wrapper">
            <div class="o-layout u-padding-top">
                <div class="o-layout__item u-1/2@tablet u-1/1@mobile">
                    <div class="u-padding">
                        <h2><span>Additive Manufacturing</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                    </div>
                </div>

                <div class="o-layout__item u-1/2@tablet u-1/1@mobile">
                    <div class="u-padding">
                        <h2><span>Materials</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                        <h3><span>Metal Materials in use</span></h3>
                        <table>
                            <thead>
                                <tr>
                                    <td colspan="4">In use</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">HastelloyX</td><td>In718</td><td>In625</td>
                                </tr>
                                <tr>
                                    <td>Ti64</td><td>TiCP</td><td colspan="2">CoCr</td>
                                </tr>
                                <tr>
                                    <td colspan="2">PH1 (15-5)</td><td colspan="2">316L</td>
                                </tr>
                                <tr>
                                    <td colspan="4">Maraging Steel (MS1)</td>
                                </tr>
                                <tr>
                                    <td colspan="4">AlSi10Mg</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <td colspan="2">Under development</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>In713</td><td>17-4</td>
                                </tr>
                                <tr>
                                    <td>Al 7050</td><td>Copper</td>
                                </tr>
                                <tr>
                                    <td>Niobium</td><td>Tungsten</td>
                                </tr>
                                <tr>
                                    <td colspan="2">CM247LC </td>
                                </tr>
                                <tr>
                                    <td colspan="2">High Temp Copper Alloys </td>
                                </tr>
                            </tbody>
                        </table>

                        <h3><span>Plastic Materials in use</span></h3>
                        <table>
                            <thead>
                                <tr>
                                    <td>In use</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PA 1102</td>
                                </tr>
                                <tr>
                                    <td>PA 2200</td>
                                </tr>
                                <tr>
                                    <td>FR 2241</td>
                                </tr>
                                <tr>
                                    <td>GFN 2210</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <td>Under development</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FR 2210</td>
                                </tr>
                                <tr>
                                    <td>Carbonmide</td>
                                </tr>
                                <tr>
                                    <td>Windform XT 2.0</td>
                                </tr>
                                <tr>
                                    <td>Coloured Plastic</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="prototyping" data-bottom-top="background-attachment: scroll;" data-top-top="background-attachment: fixed;"
            class="banner u-padding-top-huge u-padding-bottom-huge"
            style="background-image: url('assets/img/rapid-prototyping.jpg');">
        <div class="o-wrapper">
            <div class="o-layout u-padding-top">
                <div class="o-layout__item u-2/5@tablet u-1/1@mobile">
                    <div data-bottom-top="opacity: 0; padding-top:900px;"
                         data-center="opacity: 1; padding-top:150px;"
                         class="">
                        <h2><span>Rapid Prototyping</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                    </div>
                </div>
                <div class="o-layout__item u-1/2 u-palm-1/1">

                </div>
            </div>
        </div>
    </section>
    <section id="clients" class="dark u-padding-top u-padding-bottom">
        <div class="o-wrapper">
            <div class="o-layout o-layout--flex u-padding-top">
                <div class="o-layout__item o-layout__item--flex flex--col u-2/5@tablet u-1/1@mobile">
                    <div class="u-padding">
                        <h2><span>Who we work for</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                    </div>
                </div>
                <div class="o-layout__item o-layout__item--flex u-3/5@tablet u-1/1@mobile">
                    <div class="slider js_multislides multislides">
                        <div class="frame js_frame">
                            <ul class="slides js_slides">
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                                <li class="js_slide slide"><img src="assets/img/logo.png" alt="3T RPD Logo"></li>
                            </ul>
                        </div>
                        <span class="slider__arrow js_prev prev">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
                        </span>

                        <span class="slider__arrow js_next next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="how" data-bottom-top="background-attachment: scroll;" data-top-top="background-attachment: fixed;"
            class="banner u-padding-top u-padding-bottom"
            style="background-image: url('assets/img/how-we-can-help.jpg');">
        <div class="o-wrapper">
            <div class="o-layout u-padding-top">
                <div class="o-layout__item u-3/5@tablet u-1/1@mobile">

                </div>
                <div class="o-layout__item u-2/5@tablet u-1/1@mobile">
                    <div data-bottom-top="opacity: 0; padding-top:900px;"
                         data-center="opacity: 0.5; padding-top:250px;"
                         data-top="opacity: 1;"
                         class="">
                        <h2><span>How we can help</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Distinctio eaque hic in molestiae natus nihil odio quaerat
                            ratione ut vel? Esse ipsam ipsum magni maxime molestias
                            totam ut veritatis? Ex.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="who" data-bottom-top="background-attachment: scroll;" data-top-top="background-attachment: fixed;"
            class="banner dark"
            style="background-image: url('assets/img/who-we-are.jpg');">
        <div class="o-wrapper">
                <div class="o-layout o-layout--flex u-padding-top-large u-padding-bottom-large">
                    <div class="o-layout__item o-layout__item--flex flex--col u-2/5@tablet u-1/1@mobile">
                        <div data-bottom-top="opacity: 0; padding-top:900px;"
                             data-center="opacity: 0.5; padding-top:250px;"
                             data-top="opacity: 1;"
                             class="">
                            <h2><span>Who we are</span></h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Distinctio eaque hic in molestiae natus nihil odio quaerat
                                ratione ut vel? Esse ipsam ipsum magni maxime molestias
                                totam ut veritatis? Ex.
                            </p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                <li>Distinctio eaque hic in molestiae natus nihil odio quaerat</li>
                                <li>ratione ut vel? Esse ipsam ipsum magni maxime molestias</li>
                                <li>totam ut veritatis? Ex.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="o-layout__item o-layout__item--flex u-3/5@tablet u-1/1@mobile">
                        <div
                            data-bottom-top="opacity: 0; padding-top:900px;"
                            data-center="opacity: 0.5; padding-top:250px;"
                            data-top="opacity: 1;">
                            <p class="acreditations">
                                <img src="assets/img/UKAS_1.gif" width="50%" />
                                <img src="assets/img/UKAS_2.gif" width="50%" />
                                <img src="assets/img/UKAS_3.gif" width="50%" />
                            </p>
                        </div>

                    </div>
                </div>
        </div>
    </section>
    <div id="contact" class="u-padding-tops">
        <div class="o-wrapper">
            <div class="o-layout u-padding-top">
                <div class="o-layout__item u-palm-1/1">
                    <h3 class="text--center js-contact-trigger"><a href="#">Work with us</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="contact bg--grey-light u-padding-top u-padding-bottom hide">
        <div class="o-layout">
            <div class="o-layout__item text--right">
                <a href="#" class="js-contact-trigger close">
                    <svg class="icon__svg icon--small inline-block"><use xlink:href="#icon-close"></svg>
                </a>
            </div>
            <form method="post" action="" accept-charset="UTF-8">
                <div class="o-layout__item">
                    <h3 class="text--center u-margin-none">Get in touch</h3>
                    <p>Give us a call on +44(0)1635 580 284 or fill in the form below and we'll get right back to you</p>
                </div>

                <div class="o-layout__item">
                    <label for="fromName"></label>
                    <input placeholder="Your Name" id="fromName" type="text" name="fromName" value="">
                </div>
                <div class="o-layout__item">
                    <label for="fromEmail"></label>
                    <input placeholder="Your Email" id="fromEmail" type="text" name="fromEmail" value="">
                </div>
                <div class="o-layout__item">
                    <label for="subject"></label>
                    <input placeholder="Subject" id="subject" type="text" name="subject" value="">
                </div>
                <div class="o-layout__item">
                    <label for="message"></label>
                    <textarea placeholder="Message" rows="10" cols="40" id="message" name="message"></textarea>
                </div>
                <div class="o-layout__item">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


{% include "./includes/_footer" %}
