.icon {
  vertical-align: middle;
}

.icon__svg {
  width: 100%;
  height: 100%;
  display: block;
}

.icon--small {
  height: 15px;
  width: 15px;
}

.icon--med {
  height: 20px;
  width: 20px;
}

.icon--lg {
  width: 25px;
  height: 25px;
}

.icon--white {
  fill: $color--white;
}

.icon__chevron {
  padding: .75rem;
  fill: $color--white;
  transition: .4s ease-in-out;
}

.icon__chevron--up {
  transform: rotate(270deg);
  transition: .4s ease-in-out;
}

.icon__chevron--down {
  transform: rotate(90deg);
  transition: .4s ease-in-out;
}