.socials {
  @extend .o-list-bare;
  margin-bottom: 0;
  text-align: center;
}
.social__item {
  @extend .o-list-bare;
  display: inline-block;
  border-radius: 50%;
  padding: .6rem;
  @include mq($until: 420px) {
    padding: .4rem;
  }
}
.social__link {
  display: block;
  height: 2.5rem;
}
.twitter,
.facebook,
.vimeo,
.soundcloud,
.youtube,
.linkedin{
  svg {
    fill: #707170;
    transition: .5s ease;
    width: 30px;
  }
}
.twitter {
  &:hover {
    svg{
      fill: #55acee;
      transition: .5s ease;
    }
  }
}
.facebook {
  &:hover {
    svg{
      fill: #3b5998;
    }
  }
}
.vimeo {
  &:hover {
    svg{
      fill: #1ab7ea;
    }
  }
}
.soundcloud {
  &:hover {
    svg{
      fill: #FF6600;
    }
  }
}
.youtube {
  &:hover {
    svg{
      fill: #e52d27;
    }
  }
}
.linkedin {
  &:hover {
    svg {
      fill: #007bb5;
    }
  }
}
