// All font and icon font related stuff goes here

h1,
h2,
h3,
h4,
h5{
  font-family: $font--title;
}

p {
  font-family: $font--main;
}

h2 span {
    background-color: #a90b96;
    padding: 10px;
    color: #f6f6f6;
}

h3 span {
    background-color: darken(#a90b96, 20%);
    padding: 5px;
    color: #f6f6f6;
}
